		body{
			width: 98%;
			height: 100%;
			padding: 0px;
			margin: 0px;
			background-image: url('/letter/bckgr.jpg');
			background-repeat: repeat-y;
			background-size: 100% auto;
			color: #2f4a7a;
		}
		.container{
			margin: 10px 10%;
		}
		#LOGO{
			float: left;
			width:	220px;
			height:	80px;
			padding-top: 20px;
			padding-left: 75px;
			background-image: url('/letter/logo.png');
			background-repeat: no-repeat;
			background-position: left top;
			font-size: 110%;
			font-weight: normal;
		}
		#cards{
			float: right;
			width:	280px;
			height:	125px;
			background-image: url('/letter/cards.png');
			background-repeat: no-repeat;
			background-position: left top;
		}
		.clr{clear: both;}
		.container div.li{
			list-style: none;
			padding-left: 25px;
			background-image: url('/letter/bullet.png');
			background-repeat: no-repeat;
			background-position: -10px -25px;
		}
		.container h2{
			padding-left: 20px;
			font-size: 110%;
		}
		.container p{
			margin: 5px 0px;
			clear: both;
		}
		center.illustration div{
			border-radius: 10px;
			width:383px;
			height: 216px;
			margin: 20px auto;
			text-align: center;
			background-repeat: no-repeat;
			background-position: center center;
		}
